pip==19.0.3
bumpversion==0.5.3
wheel==0.33.1
watchdog==0.9.0
flake8==3.7.7
tox==3.8.1
coverage==4.5.3
Sphinx==1.8.5
twine==1.13.0
click==7.0
pytest==4.3.1
pytest-runner==4.4
pytest-cov==2.6.1
pyOpenSSL==19.0.0
Cython==0.29.6
cyvcf2==0.10.8
pandas==0.24.2
requests==2.21.0
aiohttp==3.5.4
aiofiles==0.4.0
