pip==20.2.2
bumpversion==0.5.3
wheel==0.33.4
watchdog==0.9.0
flake8==3.7.7
tox==3.13.2
coverage==4.5.3
Sphinx==3.0.4
sphinx-click==2.2.0
sphinxcontrib-napoleon==0.7
twine==3.1.1
click==7.0
pytest==5.0.0
pytest-runner==5.1
pytest-cov==2.7.1
numpy==1.16.4
pandas==0.24.2
requests==2.22.0
aiohttp==3.8.6
aiofiles==0.4.0
vcfpy2==0.1.2
pysam==0.15.2
scikit-allel==1.2.1
